aiohttp[speedups]
appdirs
aria2p
async_generator
bs4
CairoSVG
cffi
covid
cowpy
deezloader
dnspython
emoji
gitpython
glitch_this
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google_images_download
googletrans==3.1.0a0
gTTS
gTTS-token
hachoir
hentai
heroku3
html_telegraph_poster
httplib2
humanize
jikanpy
js2py
lottie
lxml
lyricsgenius
natsort
nekos.py
oauth2client
pendulum
Pillow
psycopg2
psycopg2-binary
pybase64
pylast
pySmartDL
python-barcode
python-dateutil
python-dotenv
pytz
qrcode
rarfile
requests
scipy
git+https://github.com/Ncode2014/search-engine-parser
speedtest-cli
sqlalchemy<=1.3.23
telegraph
telethon
telethon-session-sqlalchemy
telethon-tgcrypto
urbandict
validators
vcsi
wikipedia
wordcloud
youtube_search
yt-dlp
