aiohttp
aria2p
async_generator
bs4
cowpy
cryptg
cffi
covid
deezloader
dnspython
emoji
gitpython
glitch_this
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans==3.1.0a0
google_images_download
gTTS
gTTS-token
hachoir
heroku3
html_telegraph_poster
httplib2
humanize
jikanpy
lxml
lyricsgenius
oauth2client
pendulum
Pillow
psycopg2
psycopg2-binary
pybase64
pylast
pySmartDL
python-barcode
python-dotenv
youtube-dl
youtube-search
pytz
qrcode
requests
search-engine-parser
speedtest-cli
sqlalchemy
telethon
telethon-session-sqlalchemy
urbandict
wikipedia
telegraph
python-dateutil
validators
