# Remove this line first before doing anything
___________PLOX_______REMOVE_____THIS_____LINE__________=True

# REQUIRED %% Get these from https://my.telegram.org
API_KEY = ""
API_HASH = ""

# REQUIRED %% Database URL
# Your PostgreSQL Database URL
DATABASE_URL = ""

# REQUIRED %% Get this value by running python3 string_session.py locally
# or https://repl.it/@BianSepang/Session?lite=1& outputonly=1
STRING_SESSION = ""

# REQUIRED %% ChatID for the Log group
# Add a hyphen or a negative sign before ID
BOTLOG_CHATID = 0 # this is an integer, don't use quotes

# Custom name and logo for .alive
ALIVE_NAME = None
ALIVE_LOGO = ""

# PM Auto-Ban Feature Switch
# AKA PMPermit
PM_AUTO_BAN = "False"

# Report or kick some known spammer bots after they join
ANTI_SPAMBOT = "False"
ANTI_SPAMBOT_SHOUT = "False"

# Country and Time Zone setup for
# .time and .date modules
COUNTRY = ""
TZ_NUMBER = 1 # this is an integer, please don't use quotes.

# Clean welcome messages automatically
# Needed only if you use userbot's welcome module
CLEAN_WELCOME = "False"

# APIs

# OpenWeather Map API Key for .weather command
# Get from https://openweathermap.org/
OPEN_WEATHER_MAP_APPID = ""
WEATHER_DEFCITY = ""

# OCR Space API Key for .ocr command
# Get from https://ocr.space/ocrapi
OCR_SPACE_API_KEY = ""

# remove.bg API Key for .rbg command
# Get from https://www.remove.bg/api
REM_BG_API_KEY = ""

# Genius Lyrics
# Client Access Token from https://genius.com/api-clients
GENIUS_ACCESS_TOKEN = None

# Deezloader
# Deezer ARL Token for downloading from deezer or spotify.
DEEZER_ARL_TOKEN = ""
DEEZER_EMAIL = ""
DEEZER_PASSWORD = ""

# Google Drive Credentials
# for gdrive module.
# Get from https://console.cloud.google.com
G_DRIVE_DATA = ""
G_DRIVE_FOLDER_ID = ""
G_DRIVE_INDEX_URL = ""

# Last.fm
# You have to have your own unique two values for API_KEY and API_SECRET
# Obtain yours from https://www.last.fm/api/account/create for Last.fm
LASTFM_API = ""
LASTFM_SECRET = ""
LASTFM_USERNAME = "" # Your last.fm username
LASTFM_PASSWORD = "" # Your last.fm password
# Bot will add before song name. For last.fm module.
# Example:
# GitHub: ender1324 : Skillet - Feel Invincible
BIO_PREFIX = ""
# Default bio message
DEFAULT_BIO = ""

# Don't change these unless you know what you're doing
BOTLOG = "True"
CHROME_DRIVER = ""
CONSOLE_LOGGER_VERBOSE = "False"
GOOGLE_CHROME_BIN = ""
LOGSPAMMER = "True"
TMP_DOWNLOAD_DIRECTORY = "./downloads/"
